In [1]:
import numpy as np
import pandas as pd

# Exercise 1

In [9]:
#odds of rolling doubles when rolling 2 dice


# represent your rolls and create a matrix


dice_rolls = np.random.randint(1, 7, size=(10000,2))

dice_rolls

array([[4, 4],
       [3, 3],
       [3, 6],
       ...,
       [1, 2],
       [3, 2],
       [2, 6]])

In [10]:
#might be easier to manipulate as a dataframe

df = pd.DataFrame(dice_rolls)
df.head()

   0  1
0  4  4
1  3  3
2  3  6
3  3  6
4  6  6

In [11]:

double_dice = df.apply(lambda row: row[0] == row[1], axis=1)

double_dice.mean()

0.1655

In [12]:

# There is a 16.55% chance of rolling doubles when rolling two dice

# Exercise 2

In [26]:
#  Fliping 8 coins, whats the probability of getting exactly 3 heads?
#  What about 4 or more?

# represent data and create matrix

flip_eight = np.random.choice([1, 0], size=(80000)).reshape(10000, 8)

flip_eight

array([[1, 1, 0, ..., 1, 1, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 1, 0, ..., 0, 1, 0],
       [1, 0, 1, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [28]:

sum_of_eight = flip_eight.sum(axis=1)

sum_of_eight

three_heads = (sum_of_eight == 3)

three_heads.mean()

0.2223

In [ ]:
#The probability of getting exactly 3 heads is 22.23%

In [29]:
four_plus = (sum_of_eight >= 4)

four_plus.mean()

0.6323

In [25]:
# If looking for 4 or more heads, the probability jumps to 63.23%

#  Exercise 3

In [31]:
# 3 web development for every data science cohort. If we select 1 student from one of the 
# four cohorts, what are odds that 2 billboards both have data science students on them

data_or_web = np.random.choice(['Data', 'Web', 'Web', 'Web'], 100_000 * 2).reshape(100_000, 2)

data_or_web

array([['Web', 'Data'],
       ['Web', 'Web'],
       ['Web', 'Data'],
       ...,
       ['Web', 'Web'],
       ['Web', 'Web'],
       ['Data', 'Web']], dtype='<U4')

In [34]:
# similar to exercise 1, gonna use a Dataframe

billboards = pd.DataFrame(data_or_web)

billboards.apply(lambda row: (row.values[0] == 'Data') and (row.values[1] == 'Data'), axis=1).mean()

# The odds of a data science student being on both billboards would be about 6%

0.0626

# Exercise 4

In [38]:
# Poptart question
# avg of 3 poptarts every 1.5 days
# stocked on Monday with 17
# how likely will is it you can buy a poptart friday afternoon?
# mean and std dev, use np.random.normal

poptarts = np.random.normal(3, 1.5, 100_000 * 5).astype(int).reshape(100_000, 5)

tartframe = pd.DataFrame(poptarts)

tart_friday = tartframe.apply(lambda row: row.values.sum() < 17, axis=1).mean()

tart_friday

# There is an 88% chance that you can eat a poptart Friday afternoon

0.88046