In [1]:
import numpy as np
import pandas as pd

# Exercise 1

In [8]:
#odds of rolling doubles when rolling 2 dice


# represent your rolls and create a matrix


dice_rolls = np.random.randint(1, 7, size=(10_000,2))

dice_rolls

array([[1, 4],
       [5, 6],
       [5, 5],
       ...,
       [5, 3],
       [1, 3],
       [4, 3]])

In [9]:
#might be easier to manipulate as a dataframe

df = pd.DataFrame(dice_rolls)
df.head()

   0  1
0  1  4
1  5  6
2  5  5
3  6  3
4  6  6

In [10]:

double_dice = df.apply(lambda row: row[0] == row[1], axis=1)

double_dice.mean()

0.1621

In [12]:

# There is a 16.55% chance of rolling doubles when rolling two dice

# Exercise 2

In [11]:
#  Fliping 8 coins, whats the probability of getting exactly 3 heads?
#  What about 4 or more?

# represent data and create matrix

flip_eight = np.random.choice([1, 0], size=(80_000)).reshape(10_000, 8)

flip_eight

array([[1, 1, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 1, 0, 1],
       [1, 1, 1, ..., 1, 0, 1],
       ...,
       [1, 0, 0, ..., 1, 0, 0],
       [0, 0, 1, ..., 1, 1, 0],
       [1, 0, 1, ..., 1, 1, 1]])

In [12]:

sum_of_eight = flip_eight.sum(axis=1)

sum_of_eight

three_heads = (sum_of_eight == 3)

three_heads.mean()

0.2214

In [ ]:
#The probability of getting exactly 3 heads is 22.23%

In [13]:
four_plus = (sum_of_eight >= 4)

four_plus.mean()

0.6418

In [25]:
# If looking for 4 or more heads, the probability jumps to 63.23%

#  Exercise 3

In [14]:
# 3 web development for every data science cohort. If we select 1 student from one of the 
# four cohorts, what are odds that 2 billboards both have data science students on them

data_or_web = np.random.choice(['Data', 'Web', 'Web', 'Web'], 10_000 * 2).reshape(10_000, 2)

data_or_web

array([['Web', 'Web'],
       ['Web', 'Web'],
       ['Web', 'Web'],
       ...,
       ['Web', 'Web'],
       ['Web', 'Web'],
       ['Web', 'Web']], dtype='<U4')

In [15]:
# similar to exercise 1, gonna use a Dataframe

billboards = pd.DataFrame(data_or_web)

billboards.apply(lambda row: (row.values[0] == 'Data') and (row.values[1] == 'Data'), axis=1).mean()

# The odds of a data science student being on both billboards would be about 6%

0.0609

# Exercise 4

In [16]:
# Poptart question
# avg of 3 poptarts every 1.5 days
# stocked on Monday with 17
# how likely will is it you can buy a poptart friday afternoon?
# mean and std dev, use np.random.normal

poptarts = np.random.normal(3, 1.5, 10_000 * 5).astype(int).reshape(10_000, 5)

tartframe = pd.DataFrame(poptarts)

tart_friday = tartframe.apply(lambda row: row.values.sum() < 17, axis=1).mean()

tart_friday

# There is an 88% chance that you can eat a poptart Friday afternoon

0.8853

# Exercise 5

In [19]:
# Male/Female Height
# Men avg height = 178cm (std dev of 8cm)
# Women avg height = 170 (std dev of 6cm)

# If a man and woman are chosen at random, P(woman taller than man)?

# use np.random.normal to make two seperate coloums of a df

male_height = np.random.normal(178, 8, 10_000)
female_height = np.random.normal(170, 6, 10_000)

height_df = pd.DataFrame({'male_height' : male_height,
                         'female_height' : female_height})

height_df['taller_female'] = height_df.female_height > height_df.male_height

height_df['taller_female'].mean()

# The probability of a famle being taller than a male is about 21.45%

0.2145

#  Exercise 6

In [30]:
# Installing anaconda, there's a 1 in 250 chance of failure
# odds that 0 out of 50 has issues?

# representation(1 in 250) and make a matrix

crit_error = [False for r in range(1, 250)]
crit_error.append(True)

installs = np.random.choice(crit_error, 10_000 * 50).reshape(10_000, 50)

# put it in a df

fifty_df = pd.DataFrame(installs)
fifty_df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
error_occured = fifty_df.apply(lambda row: row.values.sum() == 0, axis=1).mean()

error_occured

# Only about an 81% chance that no students (out of 50) will have a problem downloading

0.8138

In [33]:
# odds that 0 out of 100 have issues?

installs_two = np.random.choice(crit_error, 10_000 * 100).reshape(10_000, 100)


hundred_df = pd.DataFrame(installs_two)

error_again = hundred_df.apply(lambda row: row.values.sum() == 0, axis=1).mean()

error_again

# there is a 33% chance of at least 1 critical error while 100 students download anaconda

0.6717

In [34]:
# 450 students download without an issue?

installs_3 = np.random.choice(crit_error, 10_000 * 450).reshape(10_000, 450)


fourfity_df = pd.DataFrame(installs_3)

error_again = fourfity_df.apply(lambda row: row.values.sum() == 0, axis=1).mean()

error_again

# the odds of no errors while 450 students download is 17%

0.1615

# Exercise 7

In [35]:
# 70% chance of 1 food truck every day
# odds of no food truck for 3 days in a row

food_truck = np.random.choice([True, False], 10_000 * 3, p=[.7, .3]).reshape(10_000, 3)

food_df = pd.DataFrame(food_truck)

food_df.apply(lambda row: row.values.sum() == 0, axis=1).mean()
    
# This is less than 3% chance of seeing no food trucks 3 days in a row

0.0268

In [36]:
# how likely that one will show up later this week

food_truck = np.random.choice([True, False], 10_000 * 7, p=[.7, .3]).reshape(10_000, 7)

food_df = pd.DataFrame(food_truck)

food_df.apply(lambda row: row.values.sum() == 0, axis=1).mean()
    
    
# There is almost 100% chance that there will be a truck at some point this week

0.0001

In [ ]:
# not a fan of copying and pasting for similar problems. Maybe I can make functions?

# Exercise 8

In [45]:
# 23 people in a room
# odds that 2 chare a birthday

def birthday_twins(people):
    
    nrows = 10_000
    ncols = people

    birthdays = np.random.choice([r for r in range(366)], nrows * ncols).reshape(nrows, ncols)
    
    b_df = pd.DataFrame(birthdays)
    
    # boolian representation
    b_df['same_birthday'] = b_df.nunique(axis=1) < ncols
    
    same_birthday = b_df['same_birthday'].mean()
    
    print(f' The odds of {ncols} people having at least two people that share a birthday are {round(same_birthday*100)}%')
    
# This should cover all the numbers they want me to test

In [46]:
birthday_twins(23)

 The odds of 23 people having at least two people that share a birthday are 51%

In [47]:
birthday_twins(20)

 The odds of 20 people having at least two people that share a birthday are 41%

In [ ]:
birthday_twins(40)